@import '~variables';

button {
    cursor: pointer;
}

.button {
    padding: 0px 15px;
    font-size: 16px;
    text-align: center;
    background-color: #62B8D9;
    border: 1px solid #E5E5E5;
    color: #fff;
    font-weight: 600;
    box-sizing: border-box;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
}