<div ng-controller="Ekom.Range">

  <fieldset ng-repeat="store in stores">
    <legend style="font-size: 18px; font-weight:bold;">{{ store.alias }}</legend>
    <div ng-repeat="currency in store.currencies">
      <div style="margin-bottom:10px;">
        <label style="display:inline-block; vertical-align:bottom; min-width:45px;" for="range_{{ currency.isoCurrencySymbol }}_{{ fieldAlias }}_{{ store.alias }}">
          {{ currency.isoCurrencySymbol }}
        </label>
        <input type="number" min="0" step="any" id="range_{{ currency.isoCurrencySymbol }}_{{ fieldAlias }}_{{ store.alias }}" ng-model="ranges[store.alias][$index].Value" />
      </div>
    </div>
    </fieldset>
</div>
