<article class="ekmOrder" ng-controller="Ekom.Manager.Order">

  <div class="ekmOrder__header">

    <h1 class="ekmOrder__ordernumber">Order number: {{ model.editModel.order.referenceId}}</h1>


    <div style="margin-bottom: 15px; padding-bottom: 15px; border-bottom:1px solid #d8d7d9;">
      <label>Order Status:</label>
      <div class="btn-group dropdown-toggle">
        <div class="btn btn-outline umb-outline" ng-click="toggleDropdown('dropdownOrderStatusList')">
          {{labelDropdown('dropdownOrderStatusList', model.editModel.order.orderStatus)}}
          <span class="caret" aria-hidden="true"></span>
        </div>
        <ul class="dropdown-menu" ng-show="isDropdownVisible('dropdownOrderStatusList')">
          <li ng-repeat="status in model.editModel.statusList">
            <button type="button" ng-click="selectDropdown('dropdownOrderStatusList',status.value)">{{ status.label }}</button>
          </li>
        </ul>
      </div>
      <uui-checkbox label="Fire events?" style="vertical-align: middle; margin-left:15px;" id="notifyOrderStatus"></uui-checkbox>
      <uui-button look="primary" data-orderId="{{model.editModel.order.uniqueId}}" style="margin-left: 15px;" id="changeOrderStatusButton">Save</uui-button>
      <uui-button look="outline"  style="float:right;" id="printOrder">Print</uui-button>
    </div>
    <p>UniqueId: {{ model.editModel.order.uniqueId }}</p>
    <p>Created date: {{ model.editModel.order.createDate | date:'dd. MMMM yyyy HH:mm'}}</p>
    <p>Paid date: {{ model.editModel.order.paidDate | date:'dd. MMMM yyyy HH:mm'}}</p>
    <p>Store: {{ model.editModel.order.storeInfo.alias }}</p>
    <p>Payment: <strong>{{ model.editModel.order.chargedAmount.currencyString }}</strong></p>

  </div>

  <div class="ekmSplit">

    <div class="ekmOrder__shipping ekmSplit__column">
      <h4>Billing</h4>

      <p>Name: {{ model.editModel.order.customerInformation.customer.name }}</p>
      <p>Email: {{ model.editModel.order.customerInformation.customer.email }}</p>
      <p>Address: {{ model.editModel.order.customerInformation.customer.address }} </p>
      <p>Apartment: {{ model.editModel.order.customerInformation.customer.apartment }}</p>
      <p>City: {{ model.editModel.order.customerInformation.customer.city }}</p>
      <p>Country: {{ model.editModel.order.customerInformation.customer.country }}</p>
      <p>Zipcode: {{ model.editModel.order.customerInformation.customer.zipCode }}</p>
      <p>Phone: {{ model.editModel.order.customerInformation.customer.phone }}</p>


      <div ng-if="extraCustomerProperties.length > 0">
        <h5 style="margin-top:20px; font-weight:bold;">Extra Customer Data</h5>
        <ul>
          <li ng-repeat="pair in extraCustomerProperties track by $index">
            <strong>{{ cleanKey(pair[0]) }}</strong>: {{ pair[1] }}
          </li>
        </ul>
      </div>

    </div>

    <div class="ekmOrder__billing ekmSplit__column">

      <h4>Shipping</h4>

      <div>
        <p ng-if="model.editModel.order.customerInformation.shipping.name">
          Name: {{ model.editModel.order.customerInformation.shipping.name }}
        </p>

        <p ng-if="model.editModel.order.customerInformation.shipping.email">
          Email: {{ model.editModel.order.customerInformation.shipping.email }}
        </p>

        <p ng-if="model.editModel.order.customerInformation.shipping.address">
          Address: {{ model.editModel.order.customerInformation.shipping.address }}
        </p>

        <p ng-if="model.editModel.order.customerInformation.shipping.apartment">
          Apartment: {{ model.editModel.order.customerInformation.shipping.apartment }}
        </p>

        <p ng-if="model.editModel.order.customerInformation.shipping.city">
          City: {{ model.editModel.order.customerInformation.shipping.city }}
        </p>

        <p ng-if="model.editModel.order.customerInformation.shipping.country">
          Country: {{ model.editModel.order.customerInformation.shipping.country }}
        </p>

        <p ng-if="model.editModel.order.customerInformation.shipping.zipCode">
          Zipcode: {{ model.editModel.order.customerInformation.shipping.zipCode }}
        </p>

        <p ng-if="model.editModel.order.customerInformation.shipping.phone">
          Phone: {{ model.editModel.order.customerInformation.shipping.phone }}
        </p>


        <div ng-if="extraShippingProperties.length > 0">
          <h5 style="margin-top:20px; font-weight:bold;">Extra Shipping Data</h5>
          <ul>
            <li ng-repeat="pair in extraShippingProperties track by $index">
              <strong>{{ cleanKey(pair[0]) }}</strong>: {{ pair[1] }}
            </li>
          </ul>
        </div>

      </div>

    </div>

  </div>


  <div class="ekmSplit">

    <div class="ekmSplit__column">
      <div ng-if="model.editModel.order.paymentProvider">

        <div class="ekmOrder__paymentMethod ekmSplit__column">
          <h4>Payment Method</h4>

          <h4>{{ model.editModel.order.paymentProvider.title }}</h4>

          <p ng-if="model.editModel.order.paymentProvider.price">
            Price: {{ model.editModel.order.paymentProvider.price.withVat.currencyString }}
          </p>

          <div ng-if="model.editModel.order.paymentProvider.customData">
            <h5>Extra data</h5>
            <ul>
              <li ng-repeat="(key, value) in model.editModel.order.paymentProvider.customData">
                {{ key }}: {{ value }}
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>

    <div class="ekmSplit__column">

      <div ng-if="model.editModel.order.shippingProvider">

        <div class="ekmOrder__shippingMethod ekmSplit__column">
          <h4>Shipping Method</h4>

          <h4>{{ model.editModel.order.shippingProvider.title }}</h4>

          <p ng-if="model.editModel.order.shippingProvider.price">
            Price: {{ model.editModel.order.shippingProvider.price.withVat.currencyString }}
          </p>

          <div ng-if="model.editModel.order.shippingProvider.customData">
            <h5>Extra data</h5>
            <ul>
              <li ng-repeat="(key, value) in model.editModel.order.shippingProvider.customData">
                {{ key }}: {{ value }}
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>

  <h4>Order Details</h4>

  <div class="umb-table" style="width:100%;">
    <div class="umb-table-head">
      <div class="umb-table-row">
        <div class="umb-table-cell not-fixed">Product</div>
        <div class="umb-table-cell">Quantity</div>
        <div class="umb-table-cell">Unit Price (inc VAT)</div>
        <div class="umb-table-cell">Vat</div>
        <div class="umb-table-cell">Discount</div>
        <div class="umb-table-cell">Total (inc VAT)</div>
      </div>
    </div>
    <div class="umb-table-body">
      <div ng-repeat="orderLine in model.editModel.order.orderLines" class="umb-table-row">
        <div class="umb-table-cell not-fixed" style="flex-direction:column;">
          {{ orderLine.product.title }} ({{ orderLine.product.sku }})
          <small ng-if="orderLine.variant" style="font-style:italic; display:block; margin-top:3px; text-overflow: unset !important; white-space:normal !important;">
            {{ orderLine.variant.title }} <span ng-if="orderLine.variant.sku">({{ orderLine.variant.sku }})</span>
          </small>
        </div>
        <div class="umb-table-cell">{{ orderLine.quantity }}</div>
        <div class="umb-table-cell">{{orderLine.product.price.withVat.currencyString}}</div>
        <div class="umb-table-cell" style="text-align: right;">{{orderLine.amount.vat.currencyString}}</div>
        <div class="umb-table-cell" style="text-align: right;">
          -{{orderLine.amount.discountAmount.currencyString}}
        </div>
        <div class="umb-table-cell" style="text-align: right;" ng-if="!orderline.amount.hasDiscount">
          {{orderLine.amount.withVat.currencyString}}
        </div>
      </div>
    </div>
    <div class="umb-table-footer">
      <div class="umb-table-row">
        <div class="umb-table-cell not-fixed"></div>
        <div class="umb-table-cell"></div>
        <div class="umb-table-cell"></div>
        <div class="umb-table-cell">Sub Total (inc VAT)</div>
        <div class="umb-table-cell" style="text-align: right;">{{ model.editModel.order.subTotal.withVat.currencyString }}</div>
      </div>
      <div class="umb-table-row">
        <div class="umb-table-cell not-fixed"></div>
        <div class="umb-table-cell"></div>
        <div class="umb-table-cell"></div>
        <div class="umb-table-cell">Discount</div>
        <div class="umb-table-cell" style="text-align: right;">-{{ model.editModel.order.discountAmount.currencyString }}</div>
      </div>
      <div class="umb-table-row" ng-if="model.editModel.order.shippingProvider != null">
        <div class="umb-table-cell not-fixed"></div>
        <div class="umb-table-cell"></div>
        <div class="umb-table-cell"></div>
        <div class="umb-table-cell">Shipping Total</div>
        <div class="umb-table-cell" style="text-align: right;">{{ model.editModel.order.shippingProvider.price.withVat.currencyString }}</div>
      </div>
      <div class="umb-table-row">
        <div class="umb-table-cell not-fixed"></div>
        <div class="umb-table-cell"></div>
        <div class="umb-table-cell"></div>
        <div class="umb-table-cell">Vat</div>
        <div class="umb-table-cell" style="text-align: right;">{{ model.editModel.order.chargedVat.currencyString }}</div>
      </div>
      <div class="umb-table-row">
        <div class="umb-table-cell not-fixed"></div>
        <div class="umb-table-cell"></div>
        <div class="umb-table-cell"></div>
        <div class="umb-table-cell">Total</div>
        <div class="umb-table-cell" style="text-align: right;"><strong>{{ model.editModel.order.chargedAmount.currencyString }}</strong></div>
      </div>
    </div>
  </div>
</article>
