@import '~variables';
@import '~mixins';

.navigation {
    background-color: #fff;
    width: 100%;
    min-height:48px;
    //box-shadow: 2px 5px 10px 0 rgba(69, 73, 91, 0.05);
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
}

.list {
    display:flex;
}
.active {
    background-color: #EFF4F6;
    font-weight: 600;
}

.brand {
    background-color: $primary-color;
    color: #fff;
    display: block;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    font-weight: 700;
    font-size: em(36);
}

.link {
    display: block;
    font-size: em(16);
    padding: 12px 20px;
    color: #969B95;
    &::before {
        margin-right: 7px;
    }
}
