<div ng-controller="Ekom.Coupon">

  <div ng-if="create">
    You need to save the order discount before you can add coupon codes. You will need to refresh the page after saving the order discount.
  </div>

  <div ng-if="!create">
    <uui-button look="primary" ng-click="openOverlay()">Add Code</uui-button>

    <hr />

    <div class="form-search">
      <div class="inner-addon left-addon">
        <i class="icon icon-search"></i>
        <input type="text" class="form-control" ng-model="query" placeholder="Type to search..." ng-change="search(query)">
      </div>
    </div>

    <uui-table>
      <uui-table-head>
        <uui-table-head-cell>Coupon Code</uui-table-head-cell>
        <uui-table-head-cell>Usage limits</uui-table-head-cell>
        <uui-table-head-cell>Created</uui-table-head-cell>
        <uui-table-head-cell></uui-table-head-cell>
      </uui-table-head>

      <uui-table-row ng-repeat="coupon in coupons">
        <uui-table-cell>{{coupon.couponCode }}</uui-table-cell>
        <uui-table-cell>{{coupon.numberAvailable}}</uui-table-cell>
        <uui-table-cell>{{coupon.date | date : "dd.MM.y HH:mm"}}</uui-table-cell>
        <uui-table-cell>
          <uui-icon-registry-essential>
            <uui-action-bar style="justify-self: left;">
              <uui-button label="Delete" ng-click="delete(coupon.couponCode)">
                <uui-icon name="delete"></uui-icon>
              </uui-button>
            </uui-action-bar>
          </uui-icon-registry-essential>
        </uui-table-cell>
      </uui-table-row>

      <uui-table-row ng-if="coupons.length <= 0">
        <uui-table-cell>No coupon codes found</uui-table-cell>
        <uui-table-cell></uui-table-cell>
        <uui-table-cell></uui-table-cell>
      </uui-table-row>

    </uui-table>

    <div style="max-width:600px; margin-top: 40px;">
      <uui-pagination id="ekmCouponPagination" total="{{ totalPages }}" current="{{ page }}" ></uui-pagination>
    </div>

    <umb-overlay ng-if="overlay.show"
                 model="overlay"
                 view="overlay.view"
                 position="right">
    </umb-overlay>
  </div>



</div>
