.bg-white {
  background-color: #fff;
}

@for $i from 1 through 70 {
  .fs-#{$i} {
    font-size: calc(#{$i}rem / 16);
  }
}

@for $k from 1 through 70 {
  .lh-#{$k} {
    line-height: calc(#{$k}rem / 16);
  }
}

// Classes
.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}


.hidden {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}