/* stylelint-disable selector-max-type */

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}

// Inherited from <html>
*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

html {
    font-family: 'IBM Plex Sans', sans-serif;
    text-size-adjust: 100%;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    position: relative;
    margin: 0;
    overflow-x: hidden;
    text-decoration-skip: ink;
}

html,
body {
    min-height: 100vh;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

input,
textarea,
select {
    &::-webkit-input-placeholder {
        color: inherit;
    }

    &::-moz-placeholder {
        opacity: 1;
        color: inherit;
    }

    &:-ms-input-placeholder {
        color: inherit;
    }
}

.page-container {
    margin-top: 48px;
}