// Colors
$black: #2c382c;
$ekomBlue: #4B8DA6;
$primary-color: #e0eaed;
$secondary-color: #4B8DA6;
$background-color: #fff;

// Global
$font-size-root: 16;
$font: 'IBM Plex Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;