<div ng-controller="Ekom.Listview">
  <div class="ekmListview">
    <div class="ekmListview__navigation" ng-if="breadcrumbs.length">
      <button type="button" class="ekmListview__back" ng-if="CanGoBack()" ng-click="GoBack()">
        <span class="icon-navigation-left"></span>
        Back
      </button>

      <nav class="ekmListview__breadcrumbs" aria-label="Catalog breadcrumbs">
        <button type="button" class="ekmListview__breadcrumb" ng-repeat="breadcrumb in breadcrumbs" ng-click="NavigateToCategory(breadcrumb)" ng-disabled="$last">
          {{ breadcrumb.title }}
        </button>
      </nav>
    </div>

    <div class="ekmListview__toolbar">
      <div class="ekmListview__toolbarMain">
        <label class="ekmListview__store" ng-if="stores.length > 1">
          Store
          <select ng-model="selectedStoreAlias" ng-options="store.alias as store.title for store in stores" ng-change="ChangeStore()" no-dirty-check></select>
        </label>

        <label class="ekmListview__toggle">
          <input type="checkbox" ng-model="recursive" ng-change="ToggleRecursive()" no-dirty-check />
          Include products from subcategories
        </label>

        <div class="ekmListview__search">
          <input type="search" class="umb-textstring" ng-model="searchQuery" ng-keydown="HandleSearchKeydown($event)" placeholder="Search products by title or SKU..." no-dirty-check />
          <button type="button" class="btn" ng-click="Search()">Search</button>
          <button type="button" class="btn btn-link" ng-if="appliedSearchQuery" ng-click="ClearSearch()">Clear</button>
        </div>
      </div>

      <label class="ekmListview__pageSize">
        Products per page
        <select ng-model="pageSize" ng-options="size for size in pageSizes" ng-change="ChangePageSize()" no-dirty-check></select>
      </label>
    </div>

    <umb-load-indicator ng-if="loading"></umb-load-indicator>

    <div ng-if="!loading">
      <section class="ekmListview__section">
        <div class="ekmListview__heading">
          <div>
            <h4>Categories</h4>
          </div>
          <span>{{ categories.length }} subcategories</span>
        </div>

        <div class="ekmListview__categories" ng-if="categories.length">
          <button type="button" ng-repeat="category in categories" class="ekmCategoryCard" ng-click="NavigateToCategory(category)">
            <span class="ekmCategoryCard__icon icon-folder"></span>
            <span class="ekmCategoryCard__body">
              <span class="ekmCategoryCard__title">{{ category.title }}</span>
              <span class="ekmCategoryCard__meta">{{ category.productCount }} products</span>
            </span>
            <span class="ekmCategoryCard__chevron icon-navigation-right"></span>
          </button>
        </div>

        <div class="ekmListview__emptyPanel" ng-if="!categories.length">
          This category has no subcategories.
        </div>
      </section>

      <section class="ekmListview__section">
        <div class="ekmListview__heading">
          <h4>Products</h4>
          <span ng-if="!appliedSearchQuery">{{ totalProductCount }} products</span>
          <span ng-if="appliedSearchQuery">{{ totalProductCount }} products for “{{ appliedSearchQuery }}”</span>
        </div>

        <div class="ekmListview__emptyPanel" ng-if="!products.length && !appliedSearchQuery">
          No products found in this category.
        </div>

        <div class="ekmListview__emptyPanel" ng-if="!products.length && appliedSearchQuery">
          No products found for “{{ appliedSearchQuery }}”.
        </div>

        <div class="ekmListview__products" ng-if="products.length">
          <a href="#content/content/edit/{{product.id}}?list={{product.parentId}}" ng-repeat="product in products" class="ekmProductCard">
            <div class="ekmProductCard__image">
              <img ng-if="product.imageUrl" ng-src="{{ GetImageUrl(product) }}" loading="lazy" decode="async" alt="{{ product.title }}" />
              <span ng-if="!product.imageUrl" class="ekmProductCard__placeholder icon-picture"></span>
            </div>

            <div class="ekmProductCard__content">
              <h5>{{ product.title }}</h5>
              <div class="ekmProductCard__sku" ng-if="product.sku">SKU: {{ product.sku }}</div>
              <div class="ekmProductCard__price">{{ product.price }}</div>

              <div class="ekmProductCard__meta">
                <span class="ekmProductCard__stock" ng-class="{ 'ekmProductCard__stock--empty': product.stock <= 0 }">
                  Stock: {{ product.stock }}
                </span>
                <span class="ekmProductCard__variants" ng-if="product.hasVariants">
                  {{ product.variantCount }} variants
                </span>
              </div>
            </div>
          </a>
        </div>

        <div class="ekmListview__pagination" ng-if="pageCount > 1">
          <button type="button" class="btn" ng-disabled="page <= 1" ng-click="GoToPage(page - 1)">Previous</button>
          <span>Page {{ page }} of {{ pageCount }}</span>
          <button type="button" class="btn" ng-disabled="page >= pageCount" ng-click="GoToPage(page + 1)">Next</button>
        </div>
      </section>
    </div>
  </div>
</div>
