@inherits Umbraco.Web.Mvc.UmbracoViewPage
<div class="banner">

    <div class="banner__overlay">
        <div class="banner__content">

            <h2>A New Collection Just Arrived</h2>

        </div>
    </div>

</div>
