.select {
  &__wrapper {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      display: inline-block;
      top: 16px;
      right: 15px;
      width: 0px;
      height: 0px;
      pointer-events: none;
      border-style: solid;
      border-width: 8px 5px 0 5px;
      border-color:#7B7B7B transparent transparent transparent;
    }
  }
  &--expanded {
    width:100%;
  }
}


input {
  border: 1px solid rgba(0,0,0,0.1);
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  outline: 0;
  color: #7b7b7b;
}
select {
  position: relative;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 1px solid rgba(0,0,0,0.1);
  background: #e6e6e6;
  color: #7b7b7b;
  -webkit-appearance: none;
  -moz-appearance: none;
}