<div ng-controller="Ekom.Listview">

  <div class="ekmListview">

    <div class="ekmListview__categories">

      <a href="#content/content/edit/{{category.id}}?list={{category.parentId}}" ng-repeat="category in categories" class="ekmProductCard">
        {{ category.title }}
      </a>

    </div>

    <div class="ekmListview__products">

      <a href="#content/content/edit/{{product.id}}?list={{product.parentId}}" ng-repeat="product in products" class="ekmProductCard">

        <div ng-bind-html="GetImage(product)"></div>

        {{ product.title }}
        {{ product.price.withVat.currencyString }}
      </a>

    </div>

  </div>

</div>
