<?xml version="1.0" encoding="utf-8"?>
<providers>
  <provider title="borgun">
    <merchantid>9256684</merchantid>
    <paymentgatewayid>471</paymentgatewayid>
    <secretcode>cdedfbb6ecab4a4994ac880144dd92dc</secretcode>
    <url>https://test.borgun.is/SecurePay/default.aspx</url>
  </provider>
  <paymentProvidersNode>fa3a312a-c753-48d2-bd7c-5194985915b8</paymentProvidersNode>
</providers>