<?xml version="1.0" encoding="utf-8"?>
<providers>
  <paymentProvidersNode>1d3b9597-c7e6-4c87-88d8-a95f470b5317</paymentProvidersNode>
<provider title="borgun">
    <merchantid>9256684</merchantid>
    <paymentgatewayid>471</paymentgatewayid>
    <secretcode>cdedfbb6ecab4a4994ac880144dd92dc</secretcode>
    <url>https://test.borgun.is/SecurePay/default.aspx</url>
  </provider></providers>