<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<providers xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--<provider title="borgun" xdt:Locator="Match(title)">
    <url xdt:Transform="Replace"></url>
  </provider>-->
<provider title="borgun" xdt:Locator="Match(title)">
    <merchantid xdt:Transform="Replace"></merchantid>
    <paymentgatewayid xdt:Transform="Replace"></paymentgatewayid>
    <secretcode xdt:Transform="Replace"></secretcode>
    <url xdt:Transform="Replace">https://securepay.borgun.is/SecurePay/default.aspx</url>
  </provider></providers>
