@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="flex flex-col items-center text-center">
    <h2 id="details-heading" class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Nothing Here Yet!</h2>
    <p class="mt-3 max-w-3xl text-lg text-gray-600">We apologize, but it seems like there are no products available in this category right now. Don't worry though, we're working on bringing you more diverse and exciting products soon. In the meantime, there's a lot more to explore across our other categories.</p>
</div>
