@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    Layout = "Masterpage.cshtml";
    var category = Catalog.Instance.GetCategory();
}

@section Main {

    <div class="grid-container">

        <div class="grid-x grid-margin-x grid-view">

            <div class="cell medium-4">
                
                @Html.Partial("Store/_CategoryBar", new ViewDataDictionary {
                    { "category", category }
                })

            </div>

            <div class="cell medium-8">
                
                <div class="products products--margin-bottom">

                    <div class="grid-x grid-margin-x grid-view">

                        @foreach (var product in category.ProductsRecursive)
                        {
                            @Html.Partial("Store/_ProductItem", new ViewDataDictionary {
                                {"product", product },
                                { "size", "medium-6 small-12" }
                            })
                        }

                    </div>

                 </div>

            </div>

        </div>

    </div>

}
