@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	@Html.Partial("Structure/_Meta")

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700" rel="stylesheet">

	<link rel="stylesheet" href="~/Content/css/app.css?v=@DateTime.Now.Ticks">

</head>
<body>

	@Html.Partial("Structure/_Header")

	<main>
		@RenderSection("Main", required: false)
	</main>
	
	@Html.Partial("Structure/_Footer")

	<script src="~/Content/js/app.js?v=@DateTime.Now.Ticks"></script>

</body>
</html>
