@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "Masterpage.cshtml";

    var order = Ekom.API.Order.Instance.GetCompletedOrder(Ekom.API.Store.Instance.GetStore().Alias);
}

@section Main {


    @if (order != null)
    {
        <p>
            @order.UniqueId - @order.OrderNumber
        </p>
    } else
    {
        <h2>No order found</h2>
    }
}
