@import '~variables';

@mixin fit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin resetButton {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin iconStyles {
    font-family: bjarg;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
}

@function em($pixels, $context: $font-size-root) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return $pixels / $context * 1em;
}
