@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "Masterpage.cshtml";
    var error = TempData["error"] as string;
    var child = Model.Children.First();

    if (User.Identity.IsAuthenticated)
    {
        Response.Redirect(child.Url);
    }
}

@section Main {

    <div class="grid-container">
        @using (Html.BeginUmbracoForm("Login", "Auth", null, new { @Class = "form" }))
        {
            <h2 class="form__caption form__caption--center">Login</h2>

            <div class="form__input form__input--icon">
                <label for="username" class="show-for-sr">Username</label>
                <span class="icon-user"></span>
                <input type="text" name="username" placeholder="Username" id="username" />
            </div>

            <div class="form__input form__input--icon">
                <label for="password" class="show-for-sr">Password</label>
                <span class="icon-lock"></span>
                <input type="password" name="password" placeholder="Password" id="password" />
            </div>

            <div class="form__input form__input--no-margin">
                <button type="submit" class="button expanded button--no-margin">Continue</button>
            </div>

            if (!string.IsNullOrEmpty(error))
            {
                <div class="alert alert--error">
                    <span class="icon-warning"></span>@error
                </div>
            }
        }
    </div>
}
