.categoryBar {

    &__caption {
        font-size: rem-calc(16);
        text-transform: uppercase;
        padding-bottom: 30px;
        border-bottom: 1px solid $border-color;
        font-weight: 600;
    }

    &__list {

        ul {
            list-style:none;
            margin:0;
        }

        > ul {

            ul {
                display: none;
                margin-left:20px;
            }
        }


        li {
            border-bottom: 1px solid $border-color;

            &.categoryBar__item--is-selected {

                > a {
                    font-weight:600;
                    color: $dark-gray;
                }

                ul {
                    display:block;
                }
            }
        }

        a {
            display: block;
            padding: 20px 0;
            color: $medium-gray;
        }
    }
}
