.product {

    &__grid {
        display: flex;
        border-bottom: 1px solid $border-color;
    }

    &__image-container {
        flex: 685px 0 0;
    }

    &__info-container {
        padding: 100px;
        flex: 1;
        max-width:800px;

        label {
            margin-bottom: 10px;
        }
    }

    &__category {
        margin-bottom: 20px;

        > a {
            color: $medium-gray;
            text-transform: uppercase;
            font-size: rem-calc(17);
            font-weight: 600;
        }
    }

    &__caption {
        font-size: rem-calc(28);
        font-weight: 700;
        margin-bottom: 20px;
    }

    &__price {
        color: $primary-color;
        font-size: rem-calc(24);
        font-weight: 600;
        display: block;
        padding-bottom: 30px;
        border-bottom: 1px solid $border-color;
    }

    &__variant-groups {
        margin-top: 30px;
    }

    &__groups-item {
        cursor: pointer;
        margin-right: 20px;

        &--is-active {
            .product__groups-color {
                border:2px solid $black;
            }
        }
    }

    &__groups-color {
        width: 24px;
        height: 24px;
        display: inline-block;
        margin-right: 8px;
    }

    &__groups-caption {
        font-size: rem-calc(12);
        color: $medium-gray;
        font-weight: 600;
        vertical-align: super;
    }

    &__variants {
        margin-top: 30px;
    }

    &__variant {
        display: none;

        &--is-active {
            display: block;
        }
    }

    &__quantity {
        margin-top: 30px;

        input {
            width: 150px;
        }
    }

    &__actions {
        margin-top:30px;
    }
}
