@inherits UmbracoTemplatePage
@using Ekom.Site.Helpers
@using System.Net;
@{
    Layout = null;
    var userId = UmbracoContext.Security.CurrentUser.Id;

}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ekom - Manager</title>

    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,600,700" rel="stylesheet">
    @{ 
        string hostName = Request.Url.Host.ToString();
    }
    @if (Extensions.IsDebug() && hostName == "ekom.localhost.vettvangur.is")
    {
        <link rel="stylesheet" type="text/css" href="http://localhost:3777/css/app.styles.css?v=@DateTime.Now.Ticks" />
    }
    else
    {
        <link rel="stylesheet" type="text/css" href="/app_plugins/ekomManager/css/app.min.css?v=@DateTime.Now.ToString("Mdyyyyhh")" />
    }
    <link rel="stylesheet" href="/app_plugins/ekomManager/css/react-table.css?v=@DateTime.Now.Ticks" />

    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
</head>

<body>
    <div id="app" data-userId="@userId" class="pageContainer"></div>

    @if (Extensions.IsDebug() && hostName == "ekom.localhost.vettvangur.is")
    {
        <script src="http://localhost:3777/app.js?v=@DateTime.Now.Ticks"></script>
    }
    else
    {
        <script src="/app_plugins/ekomManager/js/app.min.js?v=@DateTime.Now.ToString("Mdyyyyhh")"></script>
    }
</body>
</html>
