@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using System.Net;
@{
    Layout = null;
    var userName = UmbracoContext.Security.CurrentUser.Name;

}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ekom - Manager</title>

    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,600,700" rel="stylesheet">
    @{
        string hostName = Request.Url.Host.ToString();
    }
    <link rel="stylesheet" type="text/css" href="/app_plugins/ekomManager/css/app.min.css?v=@DateTime.Now.ToString("Mdyyyyhh")" />
    <link rel="stylesheet" href="/app_plugins/ekomManager/css/react-table.css?v=@DateTime.Now.Ticks" />

    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
</head>

<body>
    <div id="app" data-userName="@userName" class="pageContainer"></div>
    <script src="/app_plugins/ekomManager/js/app.min.js?v=@DateTime.Now.ToString("Mdyyyyhh")"></script>
</body>
</html>
