.load-bar {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  top:50%;
}

.load-bar--small {
  height: 4px
}

.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center
}

.bar:nth-child(1) {
  background-color: #FFC400;
  -webkit-animation: loading 3s linear infinite;
  animation: loading 3s linear infinite
}

.bar:nth-child(2) {
  background-color: #fff;
  -webkit-animation: loading 3s linear 1s infinite;
  animation: loading 3s linear 1s infinite
}

.bar:nth-child(3) {
  background-color: #FFC400;
  -webkit-animation: loading 3s linear 2s infinite;
  animation: loading 3s linear 2s infinite
}

@keyframes loading {
  0% {
      left: 50%;
      width: 0;
      z-index: 100
  }
  33% {
      left: 0;
      width: 100%;
      z-index: 10
  }
  100% {
      left: 0;
      width: 100%
  }
}