<article class="ekmFilter" ng-controller="Ekom.Manager.Filter">

  <div class="ekmFilter__header">

    <div style="margin-bottom: 15px; padding-bottom: 15px; border-bottom:1px solid #d8d7d9;">

      <label style="display:block;">Payment provider:</label>

      <div class="btn-group dropdown-toggle">
        <div class="btn btn-outline umb-outline" ng-click="toggleDropdown('dropdownPaymentProvider')">
          {{labelDropdown('dropdownPaymentProvider','Select payment provider')}}
          <span class="caret" aria-hidden="true"></span>
        </div>
        <ul class="dropdown-menu" ng-show="isDropdownVisible('dropdownPaymentProvider')">
          <li>
            <button type="button" ng-click="selectDropdown('dropdownPaymentProvider', '')">Select payment provider</button>
          </li>
          <li  ng-repeat="provider in filterPaymentProviders">
            <button type="button" ng-click="selectDropdown('dropdownPaymentProvider',provider.key)">{{ provider.title }}</button>
          </li>
        </ul>
      </div>

    </div>

  </div>
</article>
