.CustomReactTable {
  padding: 47px 110px;
}

.reactTable {
  &__payStatus {
    display:flex;
    align-items: center;
    font-size: 14px;
    border-radius: 10px;
    max-width: 115px;
    padding: 5px 7px;
    span {
      font-weight:600;
      margin: 0 5px;
    }
    &-close {
      background: #FEEEEE;
      color: #F25555;
    }
    &-check {
      background: #EEF8EE;
      color: #53BC50;
    }
  }
}

