.statistics {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  
  &__column {
    margin-right: 60px;
    color: rgba(44, 56, 44, 0.9);
    font-size: 24px;
    & > div:last-child {
      color: rgba(44, 56, 44, 0.5);
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}