<article class="ekmOrder" ng-controller="Ekom.Manager.Dashboard">

  <div class="ekmOrder__header">

    <h1 class="ekmOrder__ordernumber">Order number: {{ model.editModel.order.referenceId}}</h1>
    
    <div style="margin-bottom: 15px; padding-bottom: 15px; border-bottom:1px solid #d8d7d9;">
      <label>Order Status:</label>
      <div class="btn-group dropdown-toggle">
        <div class="btn btn-outline umb-outline" ng-click="toggleDropdown('dropdownOrderStatusList')">
          {{labelDropdown('dropdownOrderStatusList', model.editModel.order.orderStatus)}}
          <span class="caret" aria-hidden="true"></span>
        </div>
        <ul class="dropdown-menu" ng-show="isDropdownVisible('dropdownOrderStatusList')">
          <li ng-repeat="status in model.editModel.statusList">
            <button type="button" ng-click="selectDropdown('dropdownOrderStatusList',status.value)">{{ status.label }}</button>
          </li>
        </ul>
      </div>
      <uui-checkbox label="Fire events?" style="vertical-align: middle; margin-left:15px;" id="notifyOrderStatus"></uui-checkbox>
      <uui-button look="primary" data-orderId="{{model.editModel.order.uniqueId}}" style="margin-left: 15px;" id="changeOrderStatusButton">Save</uui-button>
    </div>
    <p>UniqueId: {{ model.editModel.order.uniqueId }}</p>
    <p>Created date: {{ model.editModel.order.createDate | date:'dd. MMMM yyyy HH:mm'}}</p>
    <p>Paid date: {{ model.editModel.order.paidDate | date:'dd. MMMM yyyy HH:mm'}}</p>
    <p>Store: {{ model.editModel.order.storeInfo.alias }}</p>
    <p>Payment: <strong>{{ model.editModel.order.chargedAmount.currencyString }}</strong></p>

  </div>

  <div class="ekmSplit">

    <div class="ekmOrder__shipping ekmSplit__column">
      <h4>Shipping Address</h4>

      <p>Name: {{ model.editModel.shippingAddress.name}}</p>
      <p>Email: {{ model.editModel.order.customerInformation.customer.email}}</p>
      <p>Address: {{ model.editModel.shippingAddress.address}} {{ model.editModel.shippingAddress.apartment}}</p>
      <p>City: {{ model.editModel.shippingAddress.city}}</p>
      <p>Country: {{ model.editModel.shippingAddress.country}}</p>
      <p>Zipcode: {{ model.editModel.shippingAddress.zipCode}}</p>
      <p>Phone: {{ model.editModel.shippingAddress.phone}}</p>

      <div ng-if="model.editModel.shippingAddress.properties.length > 0">
        <h5>Extra Data</h5>
        <ul>
          <li ng-repeat="(key, value)  in model.editModel.shippingAddress.properties">
            {{key}}: {{value}}
          </li>
        </ul>
      </div>

    </div>
    
    <div class="ekmOrder__billing ekmSplit__column">

      <h4>Billing Address</h4>

      <div ng-if="model.editModel.sameAsShipping">
        Same as shipping address
      </div>

      <div ng-if="!model.editModel.sameAsShipping">
        <p>Name: {{ model.editModel.order.customerInformation.customer.name}}</p>
        <p>Email: {{ model.editModel.order.customerInformation.customer.email}}</p>
        <p>Address: {{ model.editModel.order.customerInformation.customer.address}} {{ model.editModel.order.customerInformation.customer.apartment}}</p>
        <p>City: {{ model.editModel.order.customerInformation.customer.city}}</p>
        <p>Country: {{ model.editModel.order.customerInformation.customer.country}}</p>
        <p>Zipcode: {{ model.editModel.order.customerInformation.customer.zipCode}}</p>
        <p>Phone: {{ model.editModel.order.customerInformation.customer.phone}}</p>

        <div ng-if="model.editModel.order.customerInformation.customer.properties.length > 0">
          <h5>Extra Data</h5>
          <ul>
            <li ng-repeat="(key, value)  in model.editModel.order.customerInformation.customer.properties">
              {{key}} : {{value}}
            </li>
          </ul>
        </div>

      </div>

      </div>

    </div>
  

  <div class="ekmSplit">

    <div class="ekmSplit__column">
      <div ng-if="model.editModel.order.paymentProvider != null">

        <div class="ekmOrder__paymentMethod ekmSplit__column">
          <h4>Payment Method</h4>

          <h4>{{ model.editModel.order.paymentProvider.title }}</h4>
          <p>Price: {{ model.editModel.order.paymentProvider.price.withVat.currencyString }}</p>

          <div ng-if="model.editModel.order.paymentProvider.customData.length > 0">
            <h5>Extra data</h5>
            <ul>
              <li ng-repeat="(key, value)  in model.editModel.order.paymentProvider.customData">
                {{key}}: {{value}}
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
    <div class="ekmSplit__column">

      <div ng-if="model.editModel.order.shippingProvider != null">

        <div class="ekmOrder__shippingMethod ekmSplit__column">
          <h4>Shipping Method</h4>

          <h4>{{ model.editModel.order.shippingProvider.title }}</h4>
          <p>Price: {{ model.editModel.order.shippingProvider.price.withVat.currencyString }}</p>

          <div ng-if="model.editModel.order.shippingProvider.customData.length > 0">
            <h5>Extra data</h5>
            <ul>
              <li ng-repeat="(key, value)  in model.editModel.order.shippingProvider.customData">
                {{key}}: {{value}}
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>

  <h4>Order Details</h4>

  <div class="umb-table" style="width:100%;">
    <div class="umb-table-head">
      <div class="umb-table-row">
        <div class="umb-table-cell not-fixed">Product</div>
        <div class="umb-table-cell">Quantity</div>
        <div class="umb-table-cell">Price</div>
        <div class="umb-table-cell">Vat</div>
        <div class="umb-table-cell">Total</div>
      </div>
    </div>
    <div class="umb-table-body">
      <div ng-repeat="orderLine in model.editModel.order.orderLines" class="umb-table-row">
        <div class="umb-table-cell not-fixed">{{ orderLine.product.title }} ({{ orderLine.product.sku }})</div>
        <div class="umb-table-cell">{{ orderLine.quantity }}</div>
        <div class="umb-table-cell">{{orderLine.product.price.withVat.currencyString}}</div>
        <div class="umb-table-cell" style="text-align: right;">{{orderLine.amount.vat.currencyString}}</div>
        <div class="umb-table-cell" style="text-align: right;">{{orderLine.amount.withVat.currencyString}}</div>
      </div>
    </div>
    <div class="umb-table-footer">
      <div class="umb-table-row">
        <div class="umb-table-cell not-fixed"></div>
        <div class="umb-table-cell"></div>
        <div class="umb-table-cell"></div>
        <div class="umb-table-cell">Grand Total</div>
        <div class="umb-table-cell" style="text-align: right;">{{ model.editModel.order.grandTotalWithOutVat.currencyString }}</div>
      </div>
      <div class="umb-table-row" ng-if="model.editModel.order.shippingProvider != null">
        <div class="umb-table-cell not-fixed"></div>
        <div class="umb-table-cell"></div>
        <div class="umb-table-cell"></div>
        <div class="umb-table-cell">Shipping Total</div>
        <div class="umb-table-cell" style="text-align: right;">{{ model.editModel.order.shippingProvider.price.withVat.currencyString }}</div>
      </div>
      <div class="umb-table-row">
        <div class="umb-table-cell not-fixed"></div>
        <div class="umb-table-cell"></div>
        <div class="umb-table-cell"></div>
        <div class="umb-table-cell">Discount</div>
        <div class="umb-table-cell" style="text-align: right;">-{{ model.editModel.order.discountAmount.currencyString }}</div>
      </div>
      <div class="umb-table-row">
        <div class="umb-table-cell not-fixed"></div>
        <div class="umb-table-cell"></div>
        <div class="umb-table-cell"></div>
        <div class="umb-table-cell">Vat</div>
        <div class="umb-table-cell" style="text-align: right;">{{ model.editModel.order.chargedVat.currencyString }}</div>
      </div>
      <div class="umb-table-row">
        <div class="umb-table-cell not-fixed"></div>
        <div class="umb-table-cell"></div>
        <div class="umb-table-cell"></div>
        <div class="umb-table-cell">Total</div>
        <div class="umb-table-cell" style="text-align: right;"><strong>{{ model.editModel.order.chargedAmount.currencyString }}</strong></div>
      </div>
    </div>
  </div>
</article>
