@import '~variables';
@import '~mixins';

body {
  background-color: $background-color;
  font-family: $font;
  font-size: em(20);
  color: $black;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(44, 56, 44, 0.8);
  font-weight: 600;
}
h3 {
  font-size: 24px;
}

.page-content {
  padding:40px;
}

main {
    margin-top: 48px;
    width: 100%;
}

a {
    color: $secondary-color;
    font-weight: 600;
    transition: color .2s ease-in-out;

    &:hover {
        color: $primary-color;
    }
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input, textarea, select, button {
  font-family: $font;
}