@charset "UTF-8";

@font-face {
    font-family: "ekom";
    src: url("/content/fonts/ekom.eot");
    src: url("/content/fonts/ekom.eot?#iefix") format("embedded-opentype"), url("/content/fonts/ekom.woff") format("woff"), url("/content/fonts/ekom.ttf") format("truetype"), url("/content/fonts/ekom.svg#ekom") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "ekom" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "ekom" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\61";
}

.icon-arrow-top:before {
    content: "\62";
}

.icon-arrow-down:before {
    content: "\63";
}

.icon-arrow-right:before {
    content: "\64";
}

.icon-arrow-left:before {
    content: "\65";
}

.icon-basket:before {
    content: "\66";
}
