.select {
    border: 1px solid $border-color;
    height: 48px;
    display: inline-block;
    position: relative;

    &--light {
        border: 0;
    }

    &__value {
        display: block;
        line-height: 48px;
        padding: 0 20px;
        cursor: pointer;
        text-transform: uppercase;

        &:after {
            margin-left: 10px;
            font-family: "ekom";
            font-weight: normal;
            text-transform: initial;
            content: "\63";
            vertical-align: middle;
        }
    }

    &__dropdown {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: #fff;
        left: 0;
        list-style: none;
        margin: -2px 0 0 0;
        width: 100%;
        border: 1px solid #edeef4;
        border-top: 0;
    }

    &__link {
        display: block;
        color: $dark-gray;
        text-align: center;
        padding: 3px 0;
    }

    &__buttonLink {
        display: block;
        color: $dark-gray;
        text-align: center;
        padding: 3px 0;
        width: 100%;
        cursor: pointer;
    }

    &:hover {
        .select__dropdown {
            display: block;
        }
    }
}
